version.py
.env
__pycache__
*.swp
.eggs
*.egg-info
.hypothesis
.pytest_cache
venv*
build
camera.jpg
garagecamera.png
log.txt
pyrotun/shadow.svg
pyrotun/watertempprofile.csv
shadow.svg
pyrotun/foo.svg
pyrotun/camera.png
watertempprofile.csv
